<?xml version="1.0"?>


<robot name="The_IAS_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name = "BASE_RADIUS" value = "0.175"/>
    <xacro:property name = "BASE_HEIGHT" value = "0.02"/>
    <xacro:property name = "WHEEL_RADIUS" value = "0.036"/>
    <xacro:property name = "WHEEL_HEIGHT" value = "0.008"/>
    <xacro:property name = "HEAD_SIDE_SIZE" value = "0.03"/>
    <xacro:property name = "SUPPORT_WIDTH" value = "0.015"/>

    <xacro:property name = "WHEEL_HOLDER_HEIGHT" value = "${(WHEEL_RADIUS - BASE_HEIGHT/2) - SUPPORT_WIDTH/2}"/>


    <xacro:property name = "WHEEL_MASS" value = "0.025"/>
    <xacro:property name = "BASE_MASS" value = "0.2"/>
    <xacro:property name = "HEAD_MASS" value = "0.02"/>
    <xacro:property name = "WHEEL_HOLDER_MASS" value = "0.015"/>
    <xacro:property name = "PASSIVE_WHEEL_MASS" value = "0.01"/>


    <xacro:property name = "WHEEL_XX_YY_INERTIA" value = "${(1/12)*WHEEL_MASS*(3*(WHEEL_RADIUS**2)+(WHEEL_HEIGHT**2))}"/>
    <xacro:property name = "WHEEL_ZZ_INERTIA" value = "${(1/2)*WHEEL_MASS*WHEEL_RADIUS**2}"/>

    <xacro:property name = "BASE_XX_YY_INERTIA" value = "${(1/12)*BASE_MASS*(3*(BASE_RADIUS**2)+(BASE_HEIGHT**2))}"/>
    <xacro:property name = "BASE_ZZ_INERTIA" value = "${(1/2)*BASE_MASS*BASE_RADIUS**2}"/>

    <xacro:property name = "HEAD_XX_YY_ZZ_INERTIA" value = "${(1/6)*HEAD_MASS*(HEAD_SIDE_SIZE**2)}"/>

    <xacro:property name = "WHEEL_HOLDER_XX_INERTIA" value = "${(1/12)*WHEEL_HOLDER_MASS*((SUPPORT_WIDTH**2)+(WHEEL_HOLDER_HEIGHT**2))}"/>
    <xacro:property name = "WHEEL_HOLDER_YY_INERTIA" value = "${(1/12)*WHEEL_HOLDER_MASS*((SUPPORT_WIDTH**2)+(WHEEL_HOLDER_HEIGHT**2))}"/>
    <xacro:property name = "WHEEL_HOLDER_ZZ_INERTIA" value = "${(1/12)*WHEEL_HOLDER_MASS*((SUPPORT_WIDTH**2)+(SUPPORT_WIDTH**2))}"/>

    <xacro:property name = "PASSIVE_WHEEL_XX_YY_ZZ_INERTIA" value = "${(2/5)*PASSIVE_WHEEL_MASS*(SUPPORT_WIDTH/2)**2}"/>



    <xacro:macro name = "wheel_link" params = "prefix">
        <link name="${prefix}_wheel">
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <cylinder radius="${WHEEL_RADIUS}" length="${WHEEL_HEIGHT}"/>
                </geometry>
                <material name="black"/>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <cylinder radius="${WHEEL_RADIUS}" length="${WHEEL_HEIGHT}"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="${WHEEL_MASS}"/>
                <inertia ixx="${WHEEL_XX_YY_INERTIA}" ixy="0.0" ixz="0.0" iyy="${WHEEL_XX_YY_INERTIA}" iyz="0.0" izz="${WHEEL_ZZ_INERTIA}"/>
            </inertial>

        </link>

        <gazebo reference="${prefix}_wheel">
            <mu1>1</mu1>
            <mu2>0.1</mu2>
            <kp>1000000</kp>
            <kd>1</kd>
            <material>Gazebo/Black</material>
        </gazebo>

    </xacro:macro>

    <xacro:macro name = "wheel_joint" params = "prefix direction">
        <joint name="base_to_${prefix}_wheel" type="revolute">
            <origin xyz="0.0 ${BASE_RADIUS*direction} 0.0" rpy=" ${direction*(-pi/2)} 0.0 0.0"/>
            <parent link="base_link"/>
            <child link="${prefix}_wheel"/>
            <axis xyz="0.0 0.0 ${direction}"/>
            <limit lower="-1000" upper="1000" effort="1.0" velocity="10.0"/>
        </joint>
    </xacro:macro>

    <xacro:macro name = "rotation_marker_link" params = "prefix">
        <link name="${prefix}_rotation_marker_link">
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="0.002 ${WHEEL_RADIUS} 0.002"/>
                </geometry>
                <material name="white"/>
            </visual>
        </link>
    </xacro:macro>

    <xacro:macro name = "wheel_to_rotation_marker" params = "prefix side">
        <joint name="${prefix}_rotation_marker_joint" type="fixed">
            <origin xyz="0.0 ${side * WHEEL_RADIUS/2} 0.0041" rpy="0.0 0.0 0.0"/>

            <parent link="${prefix}_wheel"/>
            <child link="${prefix}_rotation_marker_link"/>
            <axis xyz="0.0 0.0 0.0"/>
            <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
        </joint>
    </xacro:macro>




    <material name="red">
        <color rgba="0.9 0.1 0.1 1.0"/>
    </material>

    <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
    </material>

    <material name="blue">
        <color rgba="0.1 0.1 0.9 1.0"/>
    </material>

    <material name = "white">
        <color rgba="1 1 1 1.0"/>
    </material>


    <link name="base_footprint"/>

    <link name="base_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="${BASE_RADIUS}" length="${BASE_HEIGHT}"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="${BASE_RADIUS}" length="${BASE_HEIGHT}"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="${BASE_MASS}"/>
            <inertia ixx="${BASE_XX_YY_INERTIA}" ixy="0.0" ixz="0.0" iyy="${BASE_XX_YY_INERTIA}" iyz="0.0" izz="${BASE_ZZ_INERTIA}"/>
        </inertial>
    </link>

    <gazebo reference="base_link">
        <material>
            Gazebo/Red
        </material>
    </gazebo>


    <link name="head_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="${HEAD_SIDE_SIZE} ${HEAD_SIDE_SIZE} ${HEAD_SIDE_SIZE}"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="${HEAD_SIDE_SIZE} ${HEAD_SIDE_SIZE} ${HEAD_SIDE_SIZE}"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="${HEAD_MASS}"/>
            <inertia ixx="${HEAD_XX_YY_ZZ_INERTIA}" ixy="0.0" ixz="0.0" iyy="${HEAD_XX_YY_ZZ_INERTIA}" iyz="0.0" izz="${HEAD_XX_YY_ZZ_INERTIA}"/>
        </inertial>
    </link>

    <gazebo reference="head_link">
        <material>
            Gazebo/Blue
        </material>
    </gazebo>


    <link name="passive_wheel_holder">
        <visual>
            <geometry>
                <box size="${SUPPORT_WIDTH} ${SUPPORT_WIDTH} ${WHEEL_HOLDER_HEIGHT}"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <geometry>
                <box size="${SUPPORT_WIDTH} ${SUPPORT_WIDTH} ${WHEEL_HOLDER_HEIGHT}"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="${WHEEL_HOLDER_MASS}"/>
            <inertia ixx="${WHEEL_HOLDER_XX_INERTIA}" ixy="0.0" ixz="0.0" iyy="${WHEEL_HOLDER_YY_INERTIA}" iyz="0.0" izz="${WHEEL_HOLDER_ZZ_INERTIA}"/>
        </inertial>
    </link>

    <link name="passive_wheel">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <sphere radius="${SUPPORT_WIDTH/2}"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <sphere radius="${SUPPORT_WIDTH/2}"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="${PASSIVE_WHEEL_MASS}"/>
            <inertia ixx="${PASSIVE_WHEEL_XX_YY_ZZ_INERTIA}" ixy="0.0" ixz="0.0" iyy="${PASSIVE_WHEEL_XX_YY_ZZ_INERTIA}" iyz="0.0" izz="${PASSIVE_WHEEL_XX_YY_ZZ_INERTIA}"/>
        </inertial>
    </link>

    <gazebo reference="passive_wheel">
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
        <kp>100000.0</kp>
        <kd>0.5</kd>
    </gazebo>

    

    <xacro:wheel_link prefix = "left"/>
    <xacro:wheel_link prefix = "right"/>

    <xacro:rotation_marker_link prefix = "right"/>
    <xacro:rotation_marker_link prefix = "left"/>




    <xacro:wheel_joint prefix = "right" direction = "-1"/>
    <xacro:wheel_joint prefix = "left" direction = "1"/>

    <xacro:wheel_to_rotation_marker prefix = "right" side = "-1"/>
    <xacro:wheel_to_rotation_marker prefix = "left" side = "1"/>

    <joint name="passive_wheel_holder_to_wheel" type="fixed">
        <origin xyz="0.0 0.0 ${-WHEEL_HOLDER_HEIGHT/2}" rpy="0.0 0.0 0.0"/>
        <parent link="passive_wheel_holder"/>
        <child link="passive_wheel"/>
        <axis xyz="0.0 0.0 0.0"/>
    </joint>

    <joint name="head_to_support_base" type="fixed">
        <origin xyz="0.0 0.0 ${-(BASE_HEIGHT + HEAD_SIDE_SIZE/2 + WHEEL_HOLDER_HEIGHT/2)}"/>
        <parent link="head_link"/>
        <child link="passive_wheel_holder"/>
        <axis xyz="0.0 0.0 0.0"/>
    </joint>

    <joint name="base_link_to_head" type="fixed">
        <origin xyz="${BASE_RADIUS - HEAD_SIDE_SIZE/2} 0.0 ${BASE_HEIGHT/2 + HEAD_SIDE_SIZE/2}"/>
        <parent link="base_link"/>
        <child link="head_link"/>
        <axis xyz="0.0 0.0 0.0"/>
    </joint>

    <joint name="base_link_to_footprint" type="fixed">
        <origin xyz="0.0 0.0 0.03" rpy="0.0 0.0 0.0"/>
        <parent link="base_footprint"/>
        <child link="base_link"/>
    </joint>

    <gazebo>
        <plugin name="diff_rob" filename="libgazebo_ros_diff_drive.so">
            <ros>
                <remapping>odom:=diff_cont/odom</remapping>
                <namespace>detector_robot</namespace>
            </ros>
            <update_rate>30</update_rate>

            <left_joint>base_to_right_wheel</left_joint>
            <right_joint>base_to_left_wheel</right_joint>

            <wheel_separation>0.35</wheel_separation>
            <wheel_diameter>0.072</wheel_diameter>

            <max_wheel_torque>20</max_wheel_torque>
            <max_wheel_acceleration>1.0</max_wheel_acceleration>

            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

            <command_topic>cmd_vel</command_topic>
            <odometry_topic>odom</odometry_topic>
            <odometry_source>0</odometry_source>
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_footprint</robot_base_frame>
        </plugin>
    </gazebo>
</robot>